<a href="#" id="browseButton">Select files</a>
<button id="toggle">Pause</button>
<p>Status: <span id="status">Not Uploading</span></p>
<p>Progress: <span id="progress">0</span>%</p>

<script src="{{ url_for('static', filename='js/lib/resumable.js') }}"></script>
<script>
var r = new Resumable({
  target: 'resumable_upload',
  chunkSize: 1*1024*1024,
  simultaneousUploads: 10,
});

document.getElementById('toggle').addEventListener('click', function() {
  var status = document.getElementById('status');
  if (r.isUploading()) {
    r.pause();
    this.innerHTML = 'resume';
    status.innerHTML = 'Paused';
  } else {
    r.upload();
    this.innerHTML = 'pause';
    status.innerHTML = 'Uploading';
  }
});

r.assignBrowse(document.getElementById('browseButton'));
r.on('fileSuccess', function(file){
    console.debug('fileSuccess',file);
  });
r.on('fileProgress', function(file){
    console.debug('fileProgress', file);
    document.getElementById('progress').innerHTML = r.progress()*100;
  });
r.on('fileAdded', function(file, event){
    r.upload();
    console.debug('fileAdded', event);
  });
r.on('filesAdded', function(array){
    r.upload();
    document.getElementById('status').innerHTML = 'Uploading';
    console.debug('filesAdded', array);
  });
r.on('fileRetry', function(file){
    console.debug('fileRetry', file);
  });
r.on('fileError', function(file, message){
    console.debug('fileError', file, message);
  });
r.on('uploadStart', function(){
    console.debug('uploadStart');
  });
r.on('complete', function(){
    console.debug('complete');
  });
r.on('progress', function(){
    console.debug('progress');
  });
r.on('error', function(message, file){
    console.debug('error', message, file);
  });
r.on('pause', function(){
    console.debug('pause');
  });
r.on('cancel', function(){
    console.debug('cancel');
  });
</script>